// COLOR VARIABLES
// $color-primary: #c69963;
// $color-primary-dark: #B28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483A;
// $color-grey-dark-2: #6D5D4B;

// COLORS - My Color - Triad-006

$icon-01: #ff7516;
$icon-02: #8212b3;

$sidebar-01: #09b365;
$sidebar-02: #13cc77;

$bg-01: #8212b3;
$bg-02: #e9e9e9;
$bg-03: #c45105;
$bg-04: #3d0a53;
$bg-05: #13cc77;
$bg-06: #09b365;
$bg-07: #ff7516;

$footer-bg-01: #555555;

$main-content-01: #ffffff;
$main-content-02: #ffffff;

$section-01: #ffffff;
$section-02: #ffffff;

$text-01: #363636;
$text-02: #ffffff;
$text-03: #8212b3;
$text-04: #a0a0a0;

$header-01: #a0a0a0;

$footer-01: #555555;
$footer-02: #555555;

$white: #ffffff;
$black: #000000;



// FONT VARIABLES

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Nunito', sans-serif;
$font-para: 'Nunito', sans-serif;
$font-heading: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% > 1rem = 10px
}

body {
  font-family: $font-para;
  color: $text-01;
  font-weight: 300;
  line-height: 1.6;
  // background-color: $container-bg-01;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] 
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}